@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-yellow: hsl(47, 88%, 63%);
  --bg-card-color-white: hsl(0, 0%, 100%);
  --text-color-gray-500: hsl(0, 0%, 42%);
  --text-color-gray-950: hsl(0, 0%, 7%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--bg-color-yellow, hsl(47, 88%, 63%));
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--bg-card-color-white, #fff);
  width: 100%;
  max-width: 38.4rem;
  border: 0.1rem solid var(--text-color-gray-950, hsl(0, 0%, 7%));
  border-radius: 2rem;
  padding: 2.4rem;
  box-shadow: 0.8rem 0.8rem #000;
}

.card-img {
  width: 100%;
  border-radius: 1rem;
}

.card-text .tag {
  display: inline-block;
  width: 8.2rem;
  background-color: var(--bg-color-yellow, hsl(47, 88%, 63%));
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  margin-top: 2.8rem;
  color: var(--text-color-gray-950, hsl(0, 0%, 7%));
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5;
}

.card-text p:first-of-type {
  margin-top: 1.2rem;
  color: var(--text-color-gray-950, hsl(0, 0%, 7%));
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.card-text h1 {
  margin-top: 1.2rem;
  color: var(--text-color-gray-950, hsl(0, 0%, 7%));
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.5;
}

.card-text p:last-of-type {
  margin-top: 1.2rem;
  color: var(--text-color-gray-500, hsl(0, 0%, 42%));
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.card-author {
  margin-top: 2.4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}

.card-author-img {
  width: 3.2rem;
}

.card-author-name {
  color: var(--text-color-gray-950, hsl(0, 0%, 7%));
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5;
}

/* --------MOBILE SCREENS-------- */
@media (max-width: 76.7rem) {
  .card {
    max-width: 32.7rem;
  }

  .card-text .tag {
    width: 7.3rem;
    margin-top: 2.4rem;
    font-size: 1.2rem;
  }

  .card-text p:first-of-type {
    font-size: 1.2rem;
  }

  .card-text h1 {
    font-size: 2rem;
  }

  .card-text p:last-of-type {
    font-size: 1.4rem;
  }
}
